.userPhoto {
    width: 60px;
    height: 80px;
}

.container {
    padding: 10px 10px;
}

.selectedPage {
    font-weight: bold;
    color: gold;
}

/*.default {*/
/*    font-weight: bold;*/
/*    color: gold;*/
/*}*/