.nav {
    grid-area: n;
    background-color: cadetblue;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;

}

.item a.activeLink {
    color: gold;
}

.flex {
    margin-top: 40px;
}
.container {
    display: flex;
}

.friends {
    width: 25px;
    border-radius: 50%;
    background-color: red;
}